* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #070707;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #000000;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    transition: all 0.3s ease;
}

h2 {
    text-align: center;
    font-size: 28px;
    color: #40a868;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #2e9c5c;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #308f57;
    background-color: #f4f4f4;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 8px;
}

.genero {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #0800ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    background-color: #4c45a0;
    transform: scale(1.05);
}

button:active {
    background-color: #000000;
}

input:focus, button:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

@media (max-width: 500px) {
    .container {
        padding: 20px;
        max-width: 100%;
    }

    h2 {
        font-size: 24px;
    }
} 

.legal {
    
}